body{
	margin: 0px;
	font-family: times new roman,serif;
	display: 100%;
    font-size: 20px;

}
.container1{
	background-image: url("./images/dp\ \(2\).jpg");
	background-size: cover;
	background-position: center;
	height: 80vh;
}
header{

	display: flex;
	background-color: rgba(0,0,0,.5);
	color: white;
	height: 80px;
	position: fixed;
	width: 100%;
}
header h1{
	flex: 3;
	padding: 0px 10px;
	font-weight: bold;
	
}
nav{
	flex: 3;
	display: flex;
}
nav a{
	flex: 1;
	padding: 30px 5px;
	text-decoration: none;
	color: white;
	font-size: 20px;

}
nav a:hover{
	color: red;
}
.container{
	text-align: center;
	padding-top: 100px;
}
.c2{
	font-weight: bold;
	font-size: 60px;
	color: rgba(240, 241, 249, 0.6);
}
.c3{
	font-size: 35px;
	color: white;
}


.container4 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;

	padding:10px 10px; 
	column-gap: 10px; 
}
.c9,.c10,.c11{
	background-color: rgba(246, 238, 238, 0.8);
	border: 1px solid black;
}
.c9 img{
	height: 250px;
	width: 100%;
		
}	

.c10 img{
	height: 250px;
	width: 100%;
	
	
}
.c11 img{
	height: 250px;
	width: 100%;
	
}
.c12{
	font-size: 20px;
	padding: 5px;
}
.c12 #c12{
	font-weight: bold;
	font-style: italic;
	padding-bottom: 5px;
}
.c8{
	flex: 2;
	display: flex;
    padding-left: 10px;
}
.c8 a{
	flex: 1;
	padding: 25px 5px;
	text-decoration: none;
	color: red;
	font-size: 20px;
    padding-left: 800px;
}
.container2{
    padding: 10px;

}
.container3 {
	background-color:rgba(0,0,0,.8);
	color: white;
	padding: 1rem;
	font-size: 20px;
}

footer{
	flex: 2;
	display: flex;
    padding-left: 10px;
    
}
.c13{
    padding-left: 400px;
    
}
/* footer a{
	flex: 1;
	padding: 20px 5px;
	text-decoration: none;
	color: red;
	font-size: 20px;
    padding-left: 800px;
} */
.c15, input{
    border-radius: 10px;
}
.c15{
    padding-left: 10px;
}
button{
    border-radius: 10px;
    color:white;
    background-color: blue;
}


/* contanct us */

.container9{
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding-top: 40px;
	
}
.container10{
	background-image: url("./images/a.jpg");
	background-size: cover;
	background-position: center;
	height: 100vh;

}
.container6{
	text-align: center;
}
.container6 h2{
	font-weight: bold;
	font-size: 40px;
	padding: 5px;
	text-align: center;
}
.c14 #b{
	font-weight: bold;
	font-size: 30px;
	padding: 5px; 
}
.c14{
	font-size: 25px;
	padding: 5px; 
}
.c14 a{
	list-style-type: none;
	text-decoration: none;
	color: black;
}

.container7{
	background-image: url("./images/a.jpg");	
}
.container8{	
	background-color: rgba(0,0,0,.5);
	width: 500px;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 0px;
	color: white;
	padding: 10px 20px 30px;
	font-size: 25px;
	border-radius: 10px;
}
.container7 h2{
	color: white;
	font-weight: bold;
	text-align: center;
}
.input input,textarea{
	width: 100%;
	font-size: 1.1em;
	border: 1px solid black;
	border-radius: 10px;
	padding: 5px;
	margin: 5px 0px 5px; 
}
.btn{
	text-align: center;
}
.btn button{
	background-color: rgba(200,63,63);
	font-size: 25px;
	margin-top: 10px; 
}

/* job search */

.container20 button{
	background-color: rgba(200,63,63);
	font-size: 25px;
	margin-top: 10px; 
    margin-bottom: 10px;
}
.c22 button{
	background-color: rgba(200,63,63);
	font-size: 25px;
	margin-top: 10px; 
    margin-bottom: 10px;
}

.c23{
	flex: 2;
	display: flex;
    padding-left: 10px;
    border-color:white;
    background-color: bisque;
}

.c22{
    padding-left: 700px;
    padding-top: 30px;
}

/* Form data */

.container40{
	background-image: url("./images/a.jpg");	
}
#mk{
	background-image: url("./images/Web-design.jpg");
	background-size: cover;
	background-position: center;
}
.container41{	
	background-color: rgba(0,0,0,.5);
	width: 500px;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 0px;
	color: white;
	padding: 10px 20px 30px;
	font-size: 25px;
	border-radius: 10px;
}
.container40 h2{
	color: white;
	font-weight: bold;
	text-align: center;
}
.input input,textarea{
	width: 100%;
	font-size: 1.1em;
	border: 1px solid black;
	border-radius: 10px;
	padding: 5px;
	margin: 5px 0px 5px; 
}
.btn{
	text-align: center;
}
.btn button{
	background-color: rgba(200,63,63);
	font-size: 25px;
	margin-top: 10px; 
}
